:root {
  --kd-post-margin: 100px;
}

#kd-toggler .nm__switcher {
  margin-right: 5px;
}

#kd-toggler label {
  cursor: pointer;
}

#kd-toggler .nm__bullet {
  left: 2px;
}
#kd-toggler.toggled .nm__bullet {
  left: 18px;
}

html {
  scroll-behavior: smooth;
}

html.kd-toggle body .thread {
  border-bottom: 1px solid gray;

  margin-bottom: 10px;

  position: relative;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  width: 100%;

  padding-left: var(--kd-post-margin);
}

html.kd-toggle body .thread > div {
  width: calc(100% + var(--kd-post-margin));
  max-width: calc(100% + var(--kd-post-margin));
}

html.kd-toggle body .thread .thread__oppost,
html.kd-toggle body .post__details__oppost {
  width: calc(100% + var(--kd-post-margin));

  margin-left: calc(var(--kd-post-margin) * -1);
}

html.kd-toggle body .thread .thread__missed {
  display: inline-block;
}

html.kd-toggle body .thread .thread__post {
  width: calc(100% - var(--kd-post-margin));
}

html.kd-toggle body .post:not(.post_preview) {
  width: 100%;

  max-width: unset;
}

html.kd-toggle body .post.post_type_oppost:not(.post_preview) .post__images {
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  height: 100%;
  width: 100%;
}

html.kd-toggle body .post:not(.post_preview) .post__images figure.post__image {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

html.kd-toggle body .post:not(.post_preview) .post__image-link {
  display: block;

  overflow: auto;
  max-width: 100%;
}

.post:not(.post_preview) .post__image-link.webm div {
  display: none;
}

html.kd-toggle body .post:not(.post_preview) .post__image-link.webm {
  position: relative;
}

html.kd-toggle body .post:not(.post_preview) .post__image-link.webm div {
  display: block;

  position: absolute;
  top: 0;
  z-index: 299;
  left: 0;
  padding: 5px;
  background: var(--theme_default_bg);

  border-bottom-right-radius: 4px;

  text-transform: uppercase;
}

html.kd-toggle body .post:not(.post_preview) .post__image-link img {
  /* max-height: 700px; */
  max-width: 100%;
  width: unset;
}

html.kd-toggle body .post__details__oppost {
  position: sticky;
  top: calc(1rem - 10px);

  background: var(--theme_default_bg);

  z-index: 982;

  display: flex;
  align-items: baseline;
}

html.kd-toggle.muon body .post__details__oppost,
html.kd-toggle.muon body .header__opts_sticky,
html.kd-toggle.muon body .bb__tabs .bb__tab,
html.kd-toggle.muon body #up-nav-arrow,
html.kd-toggle.muon body #down-nav-arrow {
  background: var(--kd-muon-background);
}

html.kd-toggle body .post__details__oppost > * {
  margin-right: 4px;
}

html.kd-toggle body .post__details__oppost .post__title {
  font-size: 24px;
}

html.kd-toggle body #js-mv-main {
  z-index: 984 !important;
}

html.kd-toggle body #up-nav-arrow,
html.kd-toggle body #down-nav-arrow {
  z-index: 983 !important;

  border: 1px solid var(--theme_default_btnborder);
  border-radius: 10px;

  height: 42px;
  width: 42px;
}

html.kd-toggle body .mv {
  /* position: fixed; */
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  /* background: #15202bdd; */
}

html.kd-toggle body .post.post_preview {
  z-index: 999 !important;
}

html.kd-toggle body .post_hide-btn {
  position: absolute;

  top: 5px;
  left: -21px;

  width: 16px;
  height: 16px;

  background: var(--theme_default_altbtnbg);

  border-radius: 6px;

  line-height: 16px;

  cursor: pointer;

  user-select: none;

  color: var(--theme_default_alttext);
}

html.kd-toggle body .post_hide-btn:hover {
  color: var(--theme_default_text);
}

html.kd-toggle body .post:not(.post_preview)::before {
  content: "";
}

html.kd-toggle body .thread.collapsed > *:not(.post__details__oppost) {
  display: none;
}

html.kd-toggle body .thread .post__details__oppost .collapser {
  font-size: 1rem;
  width: 1.5rem;

  border-radius: 0.3em;

  display: inline-block;
  text-align: center;
  align-self: center;

  color: var(--theme_default_title);
  border: 1px solid var(--theme_default_alttext);

  cursor: pointer;
}

html.kd-toggle body #qr,
html.kd-toggle body #settings-window,
html.kd-toggle body .bb.desktop,
html.kd-toggle body .mv {
  z-index: 998 !important;
}

html.kd-toggle body #settings-window .settings__header span {
  font-family: "Courier New", Courier, monospace;
}

html.kd-toggle body #kd-settings .settings {
  cursor: pointer;
}

html.kd-toggle body #kd-toggler:not(.toggled) + .settings {
  display: none;
}

html.kd-toggle body #ABU-select .splitter {
  border-bottom: 1px solid var(--theme_default_alttext);

  margin-top: 3px;
  margin-bottom: 3px;
}

html.kd-toggle.hide-plashque #js-plashque,
html.kd-toggle.hide-plashque #plashque {
  display: none;
}

html.kd-toggle body .post:not(.post_preview) .post__image-link img {
  max-height: var(--kd-max-image-height);
}

@keyframes post_highlight {
  0% {
    background-color: var(--theme_default_link);
  }

  100% {
    background-color: var(--theme_default_postbghighlight);
  }
}

html.kd-toggle body .post.post_type_highlight {
  animation: post_highlight;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.5, 0.01, 0.5, 1);
}

html.kd-toggle body .post .post__details {
  display: flex;
}

html.kd-toggle body .post .post__details .post__detailpart {
  height: 17.55px;
}

html.kd-toggle body .post .post__details .post__detailpart:first-of-type > * {
  padding-right: 4px;
}

html.kd-toggle body .post .post__details .post__detailpart:last-child {
  display: block;
}

html.kd-toggle body .thread.double .post__details__oppost .post__reflink,
html.kd-toggle body .post.double .post__details * {
  color: var(--kd-double-color);
  background-color: var(--kd-double-back-color);
}

html.kd-toggle body .thread.triple .post__details__oppost .post__reflink,
html.kd-toggle body .post.triple .post__details * {
  color: var(--kd-triple-color);
  background-color: var(--kd-triple-back-color);
}

html.kd-toggle body .thread.quadruple .post__details__oppost .post__reflink,
html.kd-toggle body .post.quadruple .post__details * {
  color: var(--kd-quadruple-color);
  background-color: var(--kd-quadruple-back-color);
}

html.kd-toggle body .thread.quintuple .post__details__oppost .post__reflink,
html.kd-toggle body .post.quintuple .post__details * {
  color: var(--kd-quintuple-color);
  background-color: var(--kd-quintuple-back-color);
}

html.kd-toggle body .thread.sextuple .post__details__oppost .post__reflink,
html.kd-toggle body .post.sextuple .post__details * {
  color: var(--kd-sextuple-color);
  background-color: var(--kd-sextuple-back-color);
}

html.kd-toggle body .thread.septuple .post__details__oppost .post__reflink,
html.kd-toggle body .post.septuple .post__details * {
  color: var(--kd-septuple-color);
  background-color: var(--kd-septuple-back-color);
}

html.kd-toggle body .thread.octuple .post__details__oppost .post__reflink,
html.kd-toggle body .post.octuple .post__details * {
  color: var(--kd-octuple-color);
  background-color: var(--kd-octuple-back-color);
}

html.kd-toggle body .thread.noncuple .post__details__oppost .post__reflink,
html.kd-toggle body .post.noncuple .post__details * {
  color: var(--kd-noncuple-color);
  background-color: var(--kd-noncuple-back-color);
}

html.kd-toggle body .post > .duplicate-collapser {
  font-size: 12px;

  display: flex;
  align-items: center;
}

html.kd-toggle body .post > .duplicate-collapser > * {
  border-bottom: 1px solid;
  color: var(--theme_default_text);
}

html.kd-toggle body .post > .duplicate-collapser .collapser {
  display: flex;

  padding-left: 5px;

  cursor: pointer;

  user-select: none;
}

html.kd-toggle body .post > .duplicate-collapser .collapser:hover {
  color: var(--theme_default_hover);
}

html.kd-toggle body .post > .duplicate-collapser .collapser .collapser-icon {
  padding-left: 3px;
  padding-right: 0;
}

html.kd-toggle body .post > .duplicate-collapser .collapser.collapsed .collapser-icon {
  padding-left: 0;
  padding-right: 3px;
}

html.kd-toggle body .post > .duplicate-collapser .collapser .collapser-icon {
  display: block;
  transform: translateY(0.4em) scale(1.4);
}

html.kd-toggle body .post > .duplicate-collapser .collapser.collapsed .collapser-icon {
  transform: rotate(180deg) translateY(0.3em) scale(1.4);
}

html.kd-toggle body .post.duplicate {
  opacity: 0.5;
}

html.kd-toggle body .post.duplicate.collapsed {
  display: none;
}

@keyframes popup_jumping {
  0% {
    transform: rotate(0deg) translateX(-25vw) rotate(0deg);
  }

  25% {
    transform: rotate(90deg) translateX(0vw) rotate(-90deg);
  }
  50% {
    transform: rotate(180deg) translateX(-25vw) rotate(-180deg);
  }
  75% {
    transform: rotate(90deg) translateX(0vw) rotate(-90deg);
  }

  100% {
    transform: rotate(0deg) translateX(-25vw) rotate(0deg);
  }
}

@keyframes popup_circle {
  0% {
    transform: rotate(0deg) translateX(-15vw) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateX(-15vw) rotate(-360deg);
  }
}

@keyframes popup_rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

html.kd-toggle body .mv.animated .mv__main {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

html.kd-toggle body .mv.animated.jumping .mv__main {
  animation-name: popup_jumping;
}
html.kd-toggle body .mv.animated.circle .mv__main {
  animation-name: popup_circle;
}
html.kd-toggle body .mv.animated.rotating .mv__main {
  animation-name: popup_rotating;
}

html.kd-toggle body .mv.animated .mv__main.animation-paused {
  animation-name: "unset";
}

html.kd-toggle body #js-mv-player[loop] + #html5videofixer::after {
  content: "↻";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  right: 0;
  margin: 2px 8px;
  font-size: 16px;
  transform: scale(1.5);
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}

/** Catalog */
html.kd-toggle .ctlg__thread .ctlg__img:hover {
  background-color: var(--theme_shadow);
}

html.kd-toggle .ctlg__thread .ctlg__info {
  cursor: initial !important;
}
