:root {
  --post-margin: 100px;
}

#kd-toggler .nm__switcher {
  margin-right: 5px;
}

#kd-toggler label {
  cursor: pointer;
}

#kd-toggler .nm__bullet {
  left: 2px;
}
#kd-toggler.toggled .nm__bullet {
  left: 18px;
}

body.kd-toggle .thread {
  border-bottom: 1px solid gray;

  margin-bottom: 10px;

  position: relative;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  width: 100%;

  padding-left: var(--post-margin);
}

body.kd-toggle .thread > div {
  width: 100%;
  max-width: 100%;
}

body.kd-toggle .thread .thread__oppost,
body.kd-toggle .post__details__oppost {
  width: calc(100% + var(--post-margin));

  margin-left: calc(var(--post-margin) * -1);
}

body.kd-toggle .thread .thread__missed {
  display: inline-block;
}

body.kd-toggle .thread .thread__post {
  width: calc(100% - var(--post-margin));
}

body.kd-toggle .post:not(.post_preview) {
  width: 100%;

  max-width: unset;
}

body.kd-toggle .post.post_type_oppost:not(.post_preview) .post__images {
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  height: 100%;
  width: 100%;
}

body.kd-toggle .post:not(.post_preview) .post__images figure.post__image {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

body.kd-toggle .post:not(.post_preview) .post__image-link {
  overflow: auto;
  max-width: 100%;
}

.post:not(.post_preview) .post__image-link.webm div {
  display: none;
}

body.kd-toggle .post:not(.post_preview) .post__image-link.webm {
  position: relative;
}

body.kd-toggle .post:not(.post_preview) .post__image-link.webm div {
  display: block;

  position: absolute;
  top: 0;
  z-index: 299;
  right: 0;
  padding: 5px;
  background: var(--theme_default_bg);

  text-transform: uppercase;
}

body.kd-toggle .post:not(.post_preview) .post__image-link img {
  max-height: 700px;
  max-width: 100%;
  width: unset;
}

body.kd-toggle .post__details__oppost {
  position: sticky;
  top: calc(1rem - 10px);

  background: var(--theme_default_bg);

  z-index: 982;

  display: flex;
  align-items: baseline;
}
body.kd-toggle .post__details__oppost > * {
  margin-right: 4px;
}

body.kd-toggle .post__details__oppost .post__title {
  font-size: 24px;
}

body.kd-toggle #js-mv-main {
  z-index: 984 !important;
}

body.kd-toggle #up-nav-arrow,
body.kd-toggle #down-nav-arrow {
  z-index: 983 !important;
}

body.kd-toggle .mv {
  /* position: fixed; */
  top: 0;
  left: 0;

  z-index: 984 !important;

  width: 100%;
  height: 100%;

  /* background: #15202bdd; */
  background: #15202b00;
}

body.kd-toggle .post.post_preview {
  z-index: 999 !important;
}

body.kd-toggle .thread.collapsed .thread__oppost,
body.kd-toggle .thread.collapsed .thread__post {
  display: none;
}

body.kd-toggle .thread .post__details__oppost .collapser {
  font-size: 1rem;
  width: 1.5rem;

  border-radius: 0.3em;

  display: inline-block;
  text-align: center;
  align-self: center;

  color: var(--theme_default_title);
  border: 1px solid var(--theme_default_alttext);

  cursor: pointer;
}
